<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Ecommerce App</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home</a>
      <a class="nav-item nav-link" href="about">About</a>
      <a class="nav-item nav-link" href="contact">Contact</a>
    </div>

  </div>
  <!-- <div class="input-group"> -->
    <input type="search" height="90" class="col-md-4  input-group-prepend" name="" placeholder="search .." height="40" >
    <button type="button" class="btn btn-primary">Search</button>
  <!-- </div> -->

  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="login" >
      Login / Signup  &nbsp;<i class="fa fa-user"></i>
      </a>
        </div>
  </div>
</nav>

<!-- remove this later just for testing url -->

<ul>
  <li><a href="home">home component</a></li>
  <li><a href="login">login component</a></li>
  <li><a href="signup">signup component</a></li>
</ul>
<hr>
